.acc-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.acc-popup-inner {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 800px;
    max-height: 80%;
    overflow-y: auto;
}

.acc-close-btn {
    border: none;
    background-color: transparent;
    font-size: 30px;
    cursor: pointer;
    color: gray;
}

.acc-title-pop {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    font-weight: bold;
    font-size: 18px;
    padding: 5px;
    align-self: center;
}

.acc-title {
    margin-top: 10px;
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 10px;
    background-color: #468FAF;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 15px;
}

.acc-text-input{
    display: flex;
    justify-content: right;
    align-self: center;
    margin-bottom: 10px;
    margin-top: 10px;
    input[type='text']{
        width: 80%;
        height: 30px;
        margin-left: 5%;
        border-radius: 5px;
    }
    input[type='password']{
        width: 79%;
        height: 30px;
        margin-left: 5%;
        border-radius: 5px;
    }
}

.pass-text-input{
    display: flex;
    justify-content: right;
    align-self: center;
    margin-bottom: 10px;
    margin-top: 10px;
    input[type='password']{
        width: 79%;
        height: 30px;
        margin-left: 1%;
        border-radius: 5px;
    }
}

.acc-footer-pop {
    display: flex;
    justify-content: right;
    border-top: 1px solid gray;
    font-size: 18px;
    padding: 5px;
    align-self: center;
    .cancel-btn{
        width: 15%;
        height: 35px;
        border-radius: 5px;
    }
    .save-btn{
        width: 15%;
        height: 35px;
        margin-left: 15px;
        color: white;
        background-color: #468FAF;
        border: none;
        border-radius: 5px;
    }
}

.role-acc{
    margin-top: 5px;
    display: flex;
    justify-content: right;
    align-self: center;
    .role-select{
        width: 81%;
        height: 36px;
        margin-left: 5%;
        border-radius: 5px;
        .select-selected{
            width: 100%;
            height: 100%;
        }
    }
}

.confirm-pass{
    width: 85%;
}

.acc-dropped {
    height: 0;
}
