::-webkit-scrollbar {
  width: 0.5px;
  scroll-behavior: smooth;
  // border-radius: 6px;
}
.camp-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.camp-popup-inner {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 900px;
  max-height: 90%;
  overflow-y: auto;
  .mg-right {
    margin-right: 21px;
  }
  .detail-update {
    margin-right: 21px;
  }
}

.camp-schedule-input {
  .camp-starttime-container {
    input {
      border: none;
      border-bottom: 1px solid #9e9e9e;
      padding: 5px;
      font-family: "Arial", sans-serif;
    }
    label {
      font-weight: 500;
      margin: 0px 20px 0px 133px;
    }
  }
  .camp-endtime-container {
    input {
      border: none;
      border-bottom: 1px solid #9e9e9e;
      padding: 5px;
      font-family: "Arial", sans-serif;
    }
    label {
      font-weight: 500;
      margin: 0px 20px 0px 30px;
    }
  }
}

.camp-close-btn {
  border: none;
  background-color: transparent;
  font-size: 30px;
  cursor: pointer;
  color: gray;
}

.camp-title-pop {
  position: relative;
  display: flex;
  justify-content: space-between;
  // border-bottom: 1px solid gray;
  font-weight: bold;
  font-size: 20px;
  align-self: center;
  .underline {
    position: absolute;
    width: 940px;
    bottom: 0;
    left: -20px;
    border-bottom: 0.5px solid rgb(184, 184, 184);
  }
}

.camp-title {
  margin-top: 10px;
  display: flex;
  color: white;
  justify-content: space-between;
  padding: 10px 10px 10px 23px;
  background-color: #468faf;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  font-size: 17px;
}
.camp-text-input-update {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 30px;
  input[type="text"] {
    width: 80%;
    height: 30px;
    margin-left: 3%;
    border-radius: 5px;
    border: 1px solid;
  }
  input[type="password"] {
    width: 80%;
    height: 30px;
    margin-left: 3%;
    border-radius: 5px;
    border: 1px solid;
  }
  input[type="confirm_password"] {
    width: 80%;
    height: 30px;
    margin-left: 27px;
    border-radius: 5px;
    border: 1px solid;
  }
}
.camp-text-input {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 30px;
  input[type="text"] {
    width: 80%;
    height: 30px;
    margin-left: 3%;
    border-radius: 5px;
    border: 1px solid;
  }
  input[type="password"] {
    width: 80%;
    height: 30px;
    margin-left: 3%;
    border-radius: 5px;
    border: 1px solid;
  }
  input[type="confirm_password"] {
    width: 80%;
    height: 30px;
    margin-left: 27px;
    border-radius: 5px;
    border: 1px solid;
  }
  .preview-img {
    border: 1px solid black;
    border-radius: 6px;
    padding: 53px;
    margin-left: 27px;
  }
}
.camp-schedule-input {
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 30px 0px 30px 0px;
}
.status-camp {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 30px;
  .status-select {
    width: 710px;
    height: 36px;
    margin-left: 27px;
    border-color: black;
    border-radius: 5px;
    .select-selected {
      width: 100%;
      height: 100%;
    }
  }
}
.camp-footer-pop {
  position: relative;
  display: flex;
  justify-content: right;
  font-size: 18px;
  padding-top: 100px;
  align-self: center;
  .cancel-btn {
    width: 15%;
    height: 35px;
    border-radius: 5px;
    border: 0.5px solid;
  }
  .save-btn {
    width: 15%;
    height: 35px;
    margin-left: 15px;
    color: white;
    background-color: #468faf;
    border: 0.5px solid black;
    border-radius: 5px;
  }
  .underline {
    position: absolute;
    width: 940px;
    top: 80px;
    left: -20px;
    border-bottom: 0.5px solid rgb(184, 184, 184);
  }
}
.camp-dropped {
  height: 0;
}
